<nav class="navbar navbar-default">
  <div class="container">
    
    <div class="navbar-header">
        <a routerLink="/" routerLinkActive="'active'" class="navbar-brand">Users Administration</a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/" routerLinkActive="'active'">Users</a></li>
        <li><a routerLink="/chat" routerLinkActive="'active'">Chat</a></li>
        <li><button class="btn btn-link navbar-btn" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>