<div class="row">
  <div class="col col-lg-4">
    <h2>Nuevo Usuario <a routerLink="/" role="button" class="btn btn-default">Volver</a></h2>

    <form [formGroup]="userForm" (ngSubmit)="createUser()">

      <div class="form-group" [ngClass]="{'has-error' : isSubmitted && formControls.name.errors}">
        <label class="control-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
        <span *ngIf="isSubmitted && formControls.name.errors" class="help-block">Campo Nombre requerido.</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : isSubmitted && formControls.email.errors}">
        <label class="control-label">Email</label>
        <input type="text" class="form-control" placeholder="Email" formControlName="email">
        <span *ngIf="isSubmitted && formControls.email.errors" class="help-block">Campo Email inválido.</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : isSubmitted && formControls.password.errors}">
        <label class="control-label">Contraseña</label>
        <input type="text" class="form-control" placeholder="Contraseña" formControlName="password">
        <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">La longitud de la contraseña debe de ser de al menos 5 carácteres.</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : isSubmitted && formControls.created_at.errors}">
        <label class="control-label">Fecha de creación</label>
        <input type="text" class="form-control" placeholder="Epoch Timestamp" formControlName="created_at">
        <span *ngIf="isSubmitted && formControls.created_at.errors" class="help-block">Epoch timestamp inválido.</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error' : isSubmitted && formControls.token.errors}">
        <label class="control-label">Token</label>
        <input type="text" class="form-control" placeholder="Token" formControlName="token">
        <span *ngIf="isSubmitted && formControls.token.errors" class="help-block">Campo Token requerido.</span>
      </div>

      <button type="submit" class="btn btn-success">Crear</button>
    </form>

  </div>
</div>