<div class="row">
  <div class="col col-lg-4">
    <h2>Nuevo Usuario <a routerLink="/" role="button" class="btn btn-default">Volver</a></h2>
    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <label>Fechas de creación</label>
        <input type="text" class="form-control" placeholder="Fechas de creación">
      </div>
      <div class="form-group">
        <label>Token</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Crear</button>
    </form>
  </div>
</div>