<div>
  <div>
    <ul>
      <li *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <h4 *ngIf="message.action === undefined">
          <b>{{message.from.name}}</b>
        </h4>
        <p *ngIf="message.action === undefined">
          <span> {{message.content}} </span>
        </p>
        <p *ngIf="message.action === action.JOINED">
          <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p *ngIf="message.action === action.RENAME">
          <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
        </p>
      </li>
    </ul>
    <div>
        <input #inputMessage
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
    </div>
  </div>
</div>
