<div class="row">
  <div class="col col-lg-4 col-lg-offset-4">
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group" [ngClass]="{'has-error' : isSubmitted && (formControls.email.errors || formControls.password.errors)}">
          <label class="control-label">Email</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>

        <div class="form-group" [ngClass]="{'has-error' : isSubmitted && (formControls.email.errors || formControls.password.errors)}">
          <label class="control-label">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
        </div>

        <div class="form-group" [ngClass]="{'has-error' : isSubmitted && (formControls.email.errors || formControls.password.errors)}">
          <span *ngIf="isSubmitted && (formControls.email.errors || formControls.password.errors)" class="help-block">Email o contraseña incorrectos.</span>
        </div>
        
        <button type="submit" class="btn btn-default">Acceder</button>
      </form>
  </div>
</div>